force-app/main/default/flows/Process_Booking_Email_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Automatically processes booking inquiry emails: recognizes intent, parses the request, checks inventory availability, generates a personalized response, handles booking confirmations, and sends Gmail replies asynchronously.</description>
    <environments>Default</environments>
    <interviewLabel>Process Booking Email Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Booking Email Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recognize_Email_Intent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual_Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Request_JSON__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Email_Processing_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <actionCalls>
        <name>Analyze_Availability</name>
        <label>Analyze Availability</label>
        <locationX>50</locationX>
        <locationY>800</locationY>
        <actionName>InvokeAnalyzeAvailabilityAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Analysis_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingRequestJson</name>
            <value>
                <elementReference>Parse_Booking_Email.rawJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inventoryDataJson</name>
            <value>
                <elementReference>Query_Room_Inventory.inventoryJson</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Booking_Record</name>
        <label>Create Booking Record</label>
        <locationX>400</locationX>
        <locationY>700</locationY>
        <actionName>CreateBookingFromEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Booking_Creation_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Find_Or_Create_Account_Contact.accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Find_Or_Create_Account_Contact.contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bookingName</name>
            <value>
                <elementReference>formula_BookingName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>arrivalDate</name>
            <value>
                <elementReference>Get_Original_Inquiry_Log.Check_In_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>departureDate</name>
            <value>
                <elementReference>Get_Original_Inquiry_Log.Check_Out_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomsRequested</name>
            <value>
                <elementReference>Get_Original_Inquiry_Log.Rooms_Requested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailLogId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_Booking</name>
        <label>Confirm Booking</label>
        <locationX>400</locationX>
        <locationY>850</locationY>
        <actionName>ConfirmBookingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Log_Booking_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Create_Booking_Record.bookingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomsToBlock</name>
            <value>
                <elementReference>Get_Original_Inquiry_Log.Rooms_Requested__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Or_Create_Account_Contact</name>
        <label>Find or Create Account and Contact</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <actionName>FindOrCreateAccountContactAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Contact_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>organizationName</name>
            <value>
                <elementReference>Recognize_Email_Intent.organizationName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>guestName</name>
            <value>
                <elementReference>formula_GuestNameWithFallback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>$Record.Sender_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventName</name>
            <value>
                <elementReference>Recognize_Email_Intent.eventName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Response_Email</name>
        <label>Generate Response Email</label>
        <locationX>50</locationX>
        <locationY>1100</locationY>
        <actionName>InvokeGenerateResponseAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Response_Generation_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderInfoJson</name>
            <value>
                <elementReference>var_SenderInfoJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bookingRequestJson</name>
            <value>
                <elementReference>Parse_Booking_Email.rawJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>availabilityJson</name>
            <value>
                <elementReference>Analyze_Availability.rawJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hotelInfoJson</name>
            <value>
                <elementReference>var_HotelInfoJson</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Booking_Email</name>
        <label>Parse Booking Email</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <actionName>InvokeParseBookingEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Parse_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.Booking_Request_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>$Record.Sender_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Query_Room_Inventory</name>
        <label>Query Room Inventory</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>QueryGuestroomAvailabilityAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Inventory_Query_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkInDate</name>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkOutDate</name>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomType</name>
            <value>
                <elementReference>Parse_Booking_Email.roomTypePreference</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Recognize_Email_Intent</name>
        <label>Recognize Email Intent</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <actionName>RecognizeEmailIntentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Intent_Recognition_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.Booking_Request_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>$Record.Sender_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadId</name>
            <value>
                <elementReference>$Record.Thread_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Confirmation_Email</name>
        <label>Send Booking Confirmation Email</label>
        <locationX>400</locationX>
        <locationY>950</locationY>
        <actionName>SendGmailReplyAsyncAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toEmail</name>
            <value>
                <elementReference>$Record.Sender_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>RE: Your Booking is Confirmed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bodyHtml</name>
            <value>
                <elementReference>Booking_Confirmation_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadId</name>
            <value>
                <elementReference>$Record.Thread_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connectionDeveloperName</name>
            <value>
                <stringValue>Ashworth_Reservations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmail</name>
            <value>
                <stringValue>ashworth.reservations@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Gmail_Reply_Async</name>
        <label>Send Gmail Reply Async</label>
        <locationX>50</locationX>
        <locationY>1300</locationY>
        <actionName>SendGmailReplyAsyncAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Job_Enqueued</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connectionDeveloperName</name>
            <value>
                <stringValue>Ashworth_Reservations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threadId</name>
            <value>
                <elementReference>$Record.Thread_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toEmail</name>
            <value>
                <elementReference>$Record.Sender_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmail</name>
            <value>
                <elementReference>$Record.Recipient_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Generate_Response_Email.emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bodyHtml</name>
            <value>
                <elementReference>Generate_Response_Email.emailBodyHtml</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Availability_JSON</name>
        <label>Parse Availability JSON</label>
        <locationX>400</locationX>
        <locationY>450</locationY>
        <actionName>ParseAvailabilityJsonAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Or_Create_Account_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>availabilityJson</name>
            <value>
                <elementReference>Get_Original_Inquiry_Log.Availability_Result_JSON__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Build_JSON_Variables</name>
        <label>Build JSON Variables</label>
        <locationX>50</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{"firstName": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_SenderFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "fullName": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sender_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "email": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sender_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "organizationName": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parse_Booking_Email.organizationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "originalSubject": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SenderInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>"}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{"hotelName": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Location_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "phone": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Location_Details.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "email": "</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Location_Details.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HotelInfoJson</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>", "salespersonName": "Hotel Reservations Team", "salespersonTitle": "Group Sales"}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Response_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Intent_Recognition_Success</name>
        <label>Check Intent Recognition Success</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Intent_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Intent Recognition Failed</defaultConnectorLabel>
        <rules>
            <name>Intent_Recognition_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recognize_Email_Intent.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Log_With_Intent</targetReference>
            </connector>
            <label>Intent Recognition Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Contact_Success</name>
        <label>Check Account Contact Success</label>
        <locationX>400</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Account_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Contact Failed</defaultConnectorLabel>
        <rules>
            <name>Account_Contact_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Or_Create_Account_Contact.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Booking_Record</targetReference>
            </connector>
            <label>Account Contact Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Analysis_Success</name>
        <label>Check Analysis Success</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Analysis_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Analysis Failed</defaultConnectorLabel>
        <rules>
            <name>Analysis_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Analyze_Availability.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_JSON_Variables</targetReference>
            </connector>
            <label>Analysis Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Booking_Creation_Success</name>
        <label>Check Booking Creation Success</label>
        <locationX>400</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Booking_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Booking Creation Failed</defaultConnectorLabel>
        <rules>
            <name>Booking_Creation_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Booking_Record.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Booking</targetReference>
            </connector>
            <label>Booking Creation Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inventory_Query_Success</name>
        <label>Check Inventory Query Success</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Inventory_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Query Failed</defaultConnectorLabel>
        <rules>
            <name>Inventory_Query_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Room_Inventory.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analyze_Availability</targetReference>
            </connector>
            <label>Inventory Query Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_Enqueued</name>
        <label>Check Job Enqueued</label>
        <locationX>50</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Enqueue_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enqueue Failed</defaultConnectorLabel>
        <rules>
            <name>Job_Enqueued_Successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Gmail_Reply_Async.jobEnqueued</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Log_Pending_Send</targetReference>
            </connector>
            <label>Job Enqueued Successfully</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parse_Success</name>
        <label>Check Parse Success</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Parse_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parse Failed</defaultConnectorLabel>
        <rules>
            <name>Parse_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_Booking_Email.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parse_Booking_Email.isBookingRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Details</targetReference>
            </connector>
            <label>Parse Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Response_Generation_Success</name>
        <label>Check Response Generation Success</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Response_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response Generation Failed</defaultConnectorLabel>
        <rules>
            <name>Response_Generation_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Response_Email.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Gmail_Reply_Async</targetReference>
            </connector>
            <label>Response Generation Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_By_Intent</name>
        <label>Route By Intent</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Parse_Booking_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Inquiry or Default</defaultConnectorLabel>
        <rules>
            <name>Intent_Booking_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recognize_Email_Intent.emailIntent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_For_Confirmation</targetReference>
            </connector>
            <label>Booking Confirmation</label>
        </rules>
        <rules>
            <name>Intent_Booking_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recognize_Email_Intent.emailIntent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking_Rejection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Log_Rejection</targetReference>
            </connector>
            <label>Booking Rejection</label>
        </rules>
        <rules>
            <name>Intent_Follow_Up_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recognize_Email_Intent.emailIntent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow_Up_Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_Booking_Email</targetReference>
            </connector>
            <label>Follow Up Answer</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_BookingName</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Recognize_Email_Intent.eventName})),
    {!Recognize_Email_Intent.eventName},
    IF(
        NOT(ISBLANK({!Recognize_Email_Intent.organizationName})),
        {!Recognize_Email_Intent.organizationName} &amp; " - " &amp; TEXT({!Get_Original_Inquiry_Log.Check_In_Date__c}),
        {!Recognize_Email_Intent.guestName} &amp; " - Booking"
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_GuestNameWithFallback</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Recognize_Email_Intent.guestName})),
    {!Recognize_Email_Intent.guestName},
    IF(
        NOT(ISBLANK({!Get_Original_Inquiry_Log.Sender_Name__c})),
        {!Get_Original_Inquiry_Log.Sender_Name__c},
        {!$Record.Sender_Name__c}
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_SenderFirstName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.Sender_Name__c}, " "),
   LEFT({!$Record.Sender_Name__c}, FIND(" ", {!$Record.Sender_Name__c}) - 1),
   {!$Record.Sender_Name__c})</expression>
    </formulas>
    <formulas>
        <name>formula_ConfirmationNumber</name>
        <dataType>String</dataType>
        <expression>"CONF-" &amp; TEXT(YEAR({!$Flow.CurrentDate})) &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; "-" &amp; MID(SUBSTITUTE({!Create_Booking_Record.bookingId}, "a4H", ""), 1, 8)</expression>
    </formulas>
    <textTemplates>
        <name>Booking_Confirmation_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;html&gt;&lt;body style="font-family: Arial, sans-serif; font-size: 14px; color: #333;"&gt;
&lt;p&gt;Dear {!formula_GuestNameWithFallback},&lt;/p&gt;

&lt;p&gt;Great news! Your reservation has been &lt;strong&gt;confirmed&lt;/strong&gt;.&lt;/p&gt;

&lt;p style="margin: 20px 0; padding: 15px; background-color: #f0f7ff; border-left: 4px solid #0066cc; font-size: 16px;"&gt;
&lt;strong&gt;Your Confirmation Number: {!formula_ConfirmationNumber}&lt;/strong&gt;
&lt;/p&gt;

&lt;p&gt;&lt;strong&gt;Booking Details:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Property:&lt;/strong&gt; {!Get_Location_For_Confirmation.Name}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Check-in:&lt;/strong&gt; {!Get_Original_Inquiry_Log.Check_In_Date__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Check-out:&lt;/strong&gt; {!Get_Original_Inquiry_Log.Check_Out_Date__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Rooms:&lt;/strong&gt; {!Get_Original_Inquiry_Log.Rooms_Requested__c}&lt;/li&gt;
&lt;/ul&gt;

&lt;p style="margin: 20px 0; padding: 15px; background-color: #f9f9f9; border: 1px solid #ddd;"&gt;
&lt;strong&gt;Pricing Summary:&lt;/strong&gt;&lt;br/&gt;
&lt;span style="display: block; margin-top: 10px;"&gt;Rate per night: &lt;strong&gt;{!Parse_Availability_JSON.ratePerNightFormatted}&lt;/strong&gt;&lt;/span&gt;
&lt;span style="display: block; margin-top: 5px;"&gt;Subtotal: {!Parse_Availability_JSON.totalEstimateFormatted}&lt;/span&gt;
&lt;span style="display: block; margin-top: 5px; font-size: 16px;"&gt;&lt;strong&gt;Estimated Total (incl. taxes &amp;amp; fees): {!Parse_Availability_JSON.totalWithTaxFormatted}&lt;/strong&gt;&lt;/span&gt;
&lt;span style="display: block; margin-top: 5px; font-size: 12px; color: #666;"&gt;* Final amount may vary based on applicable local taxes&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;Please save this confirmation number for your records. You can reference it when contacting us about your reservation.&lt;/p&gt;

&lt;p&gt;If you have any questions or need to make changes to your reservation, please don't hesitate to reach out. We're here to help make your stay as comfortable as possible.&lt;/p&gt;

&lt;p&gt;We look forward to welcoming you!&lt;/p&gt;

&lt;p&gt;Warm regards,&lt;br/&gt;
&lt;strong&gt;The Reservations Team&lt;/strong&gt;&lt;br/&gt;
{!Get_Location_For_Confirmation.Name}&lt;/p&gt;
&lt;/body&gt;&lt;/html&gt;</text>
    </textTemplates>
    <recordLookups>
        <name>Get_Location_For_Confirmation</name>
        <label>Get Location For Confirmation</label>
        <locationX>400</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Inquiry_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Details</name>
        <label>Get Location Details</label>
        <locationX>50</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Room_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Inquiry_Log</name>
        <label>Get Original Inquiry Log</label>
        <locationX>400</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_Availability_JSON</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Log_With_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recognize_Email_Intent.originalInquiryLogId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Log_Intent_Error</name>
        <label>Update Log - Intent Recognition Error</label>
        <locationX>250</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Recognize_Email_Intent.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Account_Error</name>
        <label>Update Log - Account Error</label>
        <locationX>600</locationX>
        <locationY>700</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Find_Or_Create_Account_Contact.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Analysis_Error</name>
        <label>Update Log - Analysis Error</label>
        <locationX>250</locationX>
        <locationY>1000</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Analyze_Availability.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Requested__c</field>
            <value>
                <elementReference>Parse_Booking_Email.totalRoomsRequested</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Booking_Created</name>
        <label>Update Log - Booking Created</label>
        <locationX>400</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Send_Booking_Confirmation_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Create_Booking_Record.bookingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Booking confirmed and created successfully</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Booking_Error</name>
        <label>Update Log - Booking Error</label>
        <locationX>600</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Create_Booking_Record.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Enqueue_Error</name>
        <label>Update Log - Enqueue Error</label>
        <locationX>250</locationX>
        <locationY>1500</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Send_Gmail_Reply_Async.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Requested__c</field>
            <value>
                <elementReference>Parse_Booking_Email.totalRoomsRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Available__c</field>
            <value>
                <elementReference>Analyze_Availability.availableRooms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability_Result_JSON__c</field>
            <value>
                <elementReference>Analyze_Availability.rawJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_Email_Subject__c</field>
            <value>
                <elementReference>Generate_Response_Email.emailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_Email_Body__c</field>
            <value>
                <elementReference>Generate_Response_Email.emailBodyHtml</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Inventory_Error</name>
        <label>Update Log - Inventory Error</label>
        <locationX>250</locationX>
        <locationY>800</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Query_Room_Inventory.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Requested__c</field>
            <value>
                <elementReference>Parse_Booking_Email.totalRoomsRequested</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Parse_Failed</name>
        <label>Update Log - Parse Failed</label>
        <locationX>250</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Parse_Booking_Email.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Pending_Send</name>
        <label>Update Log - Pending Send</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Pending_Email_Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability_Result_JSON__c</field>
            <value>
                <elementReference>Analyze_Availability.rawJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Requested__c</field>
            <value>
                <elementReference>Parse_Booking_Email.totalRoomsRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Available__c</field>
            <value>
                <elementReference>Analyze_Availability.availableRooms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_Email_Subject__c</field>
            <value>
                <elementReference>Generate_Response_Email.emailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_Email_Body__c</field>
            <value>
                <elementReference>Generate_Response_Email.emailBodyHtml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Email send job enqueued - awaiting completion</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Rejection</name>
        <label>Update Log - Rejection</label>
        <locationX>600</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Booking inquiry rejected by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Response_Error</name>
        <label>Update Log - Response Error</label>
        <locationX>250</locationX>
        <locationY>1300</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Generate_Response_Email.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date__c</field>
            <value>
                <elementReference>Parse_Booking_Email.checkOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rooms_Requested__c</field>
            <value>
                <elementReference>Parse_Booking_Email.totalRoomsRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability_Result_JSON__c</field>
            <value>
                <elementReference>Analyze_Availability.rawJson</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_With_Error</name>
        <label>Update Log - Error</label>
        <locationX>800</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_With_Intent</name>
        <label>Update Log With Intent</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Route_By_Intent</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Intent__c</field>
            <value>
                <elementReference>Recognize_Email_Intent.emailIntent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Inquiry_Log__c</field>
            <value>
                <elementReference>Recognize_Email_Intent.originalInquiryLogId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <variables>
        <name>var_HotelInfoJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SenderInfoJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
